<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
{% seo %}
{% if site.keywords or page.tags %}
<meta
  name="keywords"
  content="{% if page.tags %}{{ page.tags | join: ',' }}{% else %}{{
    site.keywords | join: ','
  }}{% endif %}" />
{% endif %}
<link rel="shortcut icon" href="{{ site.baseurl }}/favicon.ico" />
<link rel="apple-touch-icon" href="{{ site.baseurl }}/favicon.ico" />
<link
  rel="alternate"
  type="application/rss+xml"
  title="{{ site.title }} - {{ site.description }}"
  href="{{ site.baseurl }}/feed.xml" />
<link
  rel="stylesheet"
  type="text/css"
  href="{{ site.baseurl }}/assets/css/base.css" />
<link
  rel="stylesheet"
  type="text/css"
  href="{{ site.baseurl }}/assets/css/highlight.css" />

<!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
{% if site.analytics %}
  {% include analytics.html %}
{% endif %}
<script src="https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.min.js"></script>
<script>
    mermaid.initialize(
        {
            startOnLoad: true,
            theme: "base",
			'themeVariables': {
				'primaryColor': '#ba91ed',
			    'primaryTextColor': '#fff',
			    'primaryBorderColor': '#2b0061',
			    'lineColor': '#2b0061',
			    'secondaryColor': '#f7e4f3',
			    'tertiaryColor': '#f2e8ff',
			    'tertiaryBorderColor': '#2b0061',
                'darkMode': true,
            },
            flowchart: {
                diagramPadding: 30,
                rankSpacing: 80,
                padding: 7,
                useMaxWidth: true
            }
        }

    );
</script>
{% if site.mathjax %}
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML"
  async>
</script>
{% endif %}
{% if site.diagram %}
{% endif %}
